<!--begin about_header-->
<section class="about_header" style="background-image: url('img/bg_about_1.jpg')">
    <div class="container">
        <div class="about_header__info about_header_info">
            <div class="about_header_info__title">
                <h1 class="title">Über SmilePen</h1>
            </div>
            <div class="about_header_info__text">
                <p>SmilePen entwickelt und vertreibt weltweit Premium Produkte zur Zahnaufhellung wie den SmilePen Whitening Stift sowie auch In-Office Produkte für professionelle Anwendung beim Zahnarzt.</p>
            </div>
            <div class="about_header_info__location about_header_location">
                <div class="about_header_location__item about_location_item">
                    <div class="about_location_item__title">
                        <h2 class="title">
                            <img src="img/icon_location_1.svg" alt="Icon">
                            Impressum
                        </h2>
                    </div>
                    <div class="about_location_item__text">
                        <p>Proslim GmbH Renggstrasse 3 CH-6052 Hergiswil NW Switzerland</p>
                        <a href="mailto:info@smilepen.ch">info@smilepen.ch</a>
                    </div>
                </div>
                <div class="about_header_location__item about_location_item">
                    <div class="about_location_item__title">
                        <h2 class="title">
                            <img src="img/icon_location_2.svg" alt="Icon">
                            Handelsregister
                        </h2>
                    </div>
                    <div class="about_location_item__text">
                        <p>Stans NW Switzerland HRA CHE 486.892.990</p>
                    </div>
                </div>
            </div>
            <div class="about_header_info__about">
                <img src="img/icon_warning.svg" alt="Icon">
                <p>Sie können uns gerne auch per E-Mail unter <a href="mailto:info@smilepen.ch">info@smilepen.ch</a> kontaktieren. Wir beantworten Anfragen innerhalb von 2 Werktagen</p>
            </div>
        </div>
    </div>
</section>
<!--end about_header-->
<!--begin about_quick-->
<section class="about_quick">
    <div class="container">
        <div class="about_quick__wrapper about_quick_wrap">
            <div class="about_quick_wrap__item about_quick_item">
                <p>SmilePen, der Anbieter der Schweiz für kosmetisches Zahnbleaching. Wir bieten hochwertige Premium Whitening Produkte und Zahnkosmetika an und begeistern unsere Kunden immer wieder mit dem strahlend weissen Resultat unserer Produkte.</p>
                <p>Unsere innovativen Produkte werden nach den neusten wissenschaftlichen Erkenntnissen entwickelt um unseren Kunden höchste sicherzeit zu bieten. Produkte von SmilePen werden auch in Zahnarzt-Praxen sowie Kosmetikstudios verwendet.</p>
                <p>Es ist uns ein grosses Anliegen nicht nur Gutes für unsere Kunden zu tun, sondern auch anderen zu helfen, bessere Zähne zu haben. Deshalb unterstützen wir mit einem Teil unseres Gewinns die Organisation SmileTrain welche Lippen-Kiefer-Gaumenspalten Operationen in 3. Welt Ländern ermöglicht.</p>
                <p>Diese Organisation nimmt auch gerne direkt Spenden entgegen. Mehr Informationen finden Sie unter: http://www.smiletrain.de/</p>
            </div>
            <div class="about_quick_wrap__item about_quick_item">
                <div class="about_quick_item__title">
                    <h3 class="title">Schnelle Antworten</h3>
                </div>
                <div class="about_quick_item__answer about_quick_answer">
                    <div class="about_quick_answer__title">
                        <img src="" alt="">
                        Schadet Zahnbleaching den Zähnen?
                    </div>
                    <div class="about_quick_answer__text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem fuga odit perferendis placeat saepe. Illum, ipsum velit? Alias dolorem dolores error minus obcaecati velit vitae? Amet autem nemo repellat voluptatibus.</p>
                    </div>
                    <div class="about_quick_answer__btn">
                        <a href="#/">
                            <i class="fas fa-chevron-down"></i>
                            Mehr erfahren
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end about_quick-->
<!--begin about form-->
<section class="about_form">
    <div class="container">
        <div class="about_form__title">
            <h2 class="title">
                <img src="img/icon_form.svg" alt="Icon">
                Kontaktformular
            </h2>
        </div>
        <form>
            <input type="text" placeholder="Vorname">
            <input type="text" placeholder="Nachname">
            <input type="email" placeholder="Email Adresse">
            <input type="phone" placeholder="Telefon">
            <textarea placeholder="Nachricht"></textarea>
            <input type="submit" value="absenden" class="btn_blue">
        </form>
    </div>
</section>
<!--end about form-->
<!--begin home insta-->
<section class="home_insta">
    <div class="container">
        <div class="home_insta__wrapper insta_wrap">
            <div class="insta_wrap__item">
                <img src="img/img_insta_1.jpg" alt="Insta">
                <img src="img/img_insta_2.jpg" alt="Insta">
                <img src="img/img_insta_3.jpg" alt="Insta">
                <img src="img/img_insta_4.jpg" alt="Insta">
            </div>
            <div class="insta_wrap__item">
                <img src="img/img_insta_5.jpg" alt="Insta">
                <div class="home_insta__follow">
                    <a href="#/">
                        <img src="img/icon_insta.svg" alt="Insta">
                        Follow us in instagram
                    </a>
                </div>
            </div>
            <div class="insta_wrap__item">
                <img src="img/img_insta_6.jpg" alt="Insta">
                <img src="img/img_insta_7.jpg" alt="Insta">
                <img src="img/img_insta_8.jpg" alt="Insta">
                <img src="img/img_insta_9.jpg" alt="Insta">
            </div>
        </div>
        <div class="home_insta__title">
            <h3 class="title">
                Du kannst SmilePen hier kaufen
            </h3>
        </div>
        <div class="home_insta__logo">
            <img src="img/logo_insta.png" alt="Logo">
        </div>
    </div>
</section>
<!--end home insta-->