<!--begin footer-->
<footer class="footer">
    <div class="container">
        <div class="footer__top footer_top">
            <div class="footer_top__logo">
                <a href="/">
                    <img src="img/logo.svg" alt="Logo">
                </a>
            </div>
            <div class="footer_top__nav">
                <ul>
                    <li>
                        <a href="#/">Impressum</a>
                    </li>
                    <li>
                        <a href="#/">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#/">Rückgabe und Erstattungsbedingungen</a>
                    </li>
                </ul>
                <p>Results may vary - Ergebnisse können variieren - Les résultats peuvent varier - Risultati possono variare</p>
            </div>
        </div>
        <div class="footer__bottom footer_bottom">
            <div class="footer_bottom__item">
                <h3 class="title">Verstand</h3>
                <ul>
                    <li>
                        <img src="img/logo_dhl.svg" alt="Dhl">
                    </li>
                    <li>
                        <img src="img/logo_dpd.svg" alt="Dhl">
                    </li>
                    <li>
                        <img src="img/logo_abholung.svg" alt="Dhl">
                    </li>
                </ul>
            </div>
            <div class="footer_bottom__item">
                <h3 class="title">Zahlunsgarten</h3>
                <img src="img/img_payment.svg" alt="Payment">
            </div>
            <div class="footer_bottom__item">
                <h3 class="title">Folge uns</h3>
                <ul>
                    <li>
                        <a href="#/">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#/">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#/">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#/">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--end footer-->
