<!--begin header-->
<div class="header__over"></div>
<header class="header">
    <div class="header__navigation">
        <ul>
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="faq.html">FAQ</a>
            </li>
            <li>
                <a href="subpage.html">Shop</a>
            </li>
            <li>
                <a href="cart.html">Cart</a>
            </li>
            <li>
                <a href="#/">Link 5</a>
            </li>
        </ul>
    </div>
    <div class="header__top header_top">
        <div class="container">
            <ul>
                <li>Zufriedenheit oder Geld zuruck</li>
                <li>Gratis weltweiter versand</li>
                <li>Over billion satisfied customers</li>
            </ul>
        </div>
    </div>
    <div class="header__wrapper header_wrap">
        <div class="container">
            <div class="header_wrap__row header_wrap_row">
                <div class="header_wrap_row__nav">
                    <a href="#/">
                        <img src="img/icon_nav.svg" alt="Navigation">
                    </a>
                </div>
                <div class="header_wrap_row__logo">
                    <a href="index.html">
                        <img src="img/logo.svg" alt="Logo">
                    </a>
                </div>
                <div class="header_wrap_row__shop header_row_shop">
                    <div class="header_row_shop__info header_shop_info">
                        <a href="#/" class="header_shop_info__bag header_shop_bag">
                            <div class="header_shop_bag__icon">
                                <img src="img/icon_bag.svg" alt="Bag">
                            </div>
                            <div class="header_shop_bag__total">
                                5
                            </div>
                        </a>
                        <div class="header_row_shop__lang header_shop_lang">
                            <div class="ui selection dropdown">
                                <input type="hidden" name="lang">
                                <i class="dropdown icon"></i>
                                <div class="default text">ENG</div>
                                <div class="menu">
                                    <div class="item" data-value="1">ENG</div>
                                    <div class="item" data-value="0">PL</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header_row_shop__btn">
                        <a class="btn_blue" href="#/">Zum Shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--end header-->
