<!--begin product single-->
<section class="product_single">
    <div class="container">
        <div class="product_single__wrapper product_single_wrap">
            <div class="product_single_wrap__slider product_single_slider">
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><div class="swiper-slide-container" style="background-image: url('img/img_product_1.jpg')"></div></div>
                        <div class="swiper-slide"><div class="swiper-slide-container" style="background-image: url('img/img_product_2.jpg')"></div></div>
                        <div class="swiper-slide"><div class="swiper-slide-container" style="background-image: url('img/img_product_3.jpg')"></div></div>
                        <div class="swiper-slide"><div class="swiper-slide-container" style="background-image: url('img/img_product_4.jpg')"></div></div>
                    </div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><div class="swiper-slide-container" style="background-image: url('img/img_product_1.jpg')"></div></div>
                        <div class="swiper-slide"><div class="swiper-slide-container" style="background-image: url('img/img_product_2.jpg')"></div></div>
                        <div class="swiper-slide"><div class="swiper-slide-container" style="background-image: url('img/img_product_3.jpg')"></div></div>
                        <div class="swiper-slide"><div class="swiper-slide-container" style="background-image: url('img/img_product_4.jpg')"></div></div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"><img src="img/icon__right_arrow_thumbnail.svg" alt="Arrow"></div>
                    <div class="swiper-button-prev"><img src="img/icon_left_arrow_thumbnail.svg" alt="Arrow"></div>
                </div>
            </div>
            <div class="product_single_wrap__slider product_single_info">
                <div class="product_single_info__reviews products_item__reviews">
                    <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
                    <a href="#/">530 Bewertungen</a>
                </div>
                <div class="product_single_info__title">
                    <h1 class="title">Damit es immer weiss bleibt!</h1>
                </div>
                <div class="product_single_info__list products_item__list">
                    <h3 class="title">
                        Produkt Highlights
                    </h3>
                    <ul>
                        <li>Bis zu 10 Stufen weisser</li>
                        <li>Hydrogen Bleaching Gel</li>
                        <li>Maximale Bleaching Power</li>
                        <li>Anpassbare Mundschiene</li>
                        <li>Geld zurück Garantie</li>
                    </ul>
                </div>
                <div class="product_single_info__price products_item__price">
                    <div class="products_price__old">Vorher 329.80</div>
                    <div class="products_price__new">Jetzt 168.80 CHF <span>Gratis Versand</span></div>
                </div>
                <div class="product_single_info__guarantee">
                    <img src="img/icon_guarantee.svg" alt="Icon">
                    <p>Zufriedenheit oder Geld zurück Garantie</p>
                </div>
                <div class="product_single_info__quantity">
                    <form>
                        <div class="quantity">
                            <input type='button' value='-' class='minus' field='quantity' />
                            <input type='text' name='quantity' value='1' class='qty' />
                            <input type='button' value='+' class='plus' field='quantity' />
                            <a href="#/" class="popup_open" >Jetzt Bestellen</a>
                        </div>
                    </form>
                    <div class="product_single_info__additional">
                        <p>
                            Inkl. Gratis Whitening Pen
                            <span>(Wert 49.90)</span>
                        </p>
                    </div>
                </div>
                <div class="product_single_info__list products_item__list">
                    <ul>
                        <li>Bequem per Rechnung bezahlen</li>
                        <li>Lieferung in 1-2 Tagen</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--begin product single-->
<!--begin product video-->
<section class="home_video product_video">
    <div class="container">
        <div class="home_video__link">
            <img src="img/img_produxt_video.jpg" alt="Video">
            <a href="#/">
                <img src="img/icon_video.svg" alt="Video">
            </a>
        </div>
    </div>
</section>
<!--end product video-->
<!--begin product tabs-->
<section class="product_tabs">
    <div class="container">
        <div class="ui top attached tabular menu">
            <a class="item active" data-tab="features">Features</a>
            <a class="item" data-tab="ingreditents">Ingreditents</a>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="features">
            <div class="product_tabs__features product_features">
                <!--begin item-->
                <div class="product_tabs_item__list product_tabs_list features_3">
                    <div class="product_tabs_list__item">
                        <img src="img/icon_feature_1.svg" alt="Icon">
                        <h3 class="title">Whitens in only 10 minutes</h3>
                    </div>
                </div>
                <!--end item-->
                <!--begin item-->
                <div class="product_tabs_item__list product_tabs_list features_3">
                    <div class="product_tabs_list__item">
                        <img src="img/icon_feature_2.svg" alt="Icon">
                        <h3 class="title">Up to 14 shades whiter</h3>
                    </div>
                </div>
                <!--end item-->
                <!--begin item-->
                <div class="product_tabs_item__list product_tabs_list features_3">
                    <div class="product_tabs_list__item">
                        <img src="img/icon_feature_3.svg" alt="Icon">
                        <h3 class="title">No Sensitivity</h3>
                    </div>
                </div>
                <!--end item-->
                <!--begin item-->
                <div class="product_tabs_item__list product_tabs_list features_3">
                    <div class="product_tabs_list__item">
                        <img src="img/icon_feature_4.svg" alt="Icon">
                        <h3 class="title">Vegan Friendly</h3>
                    </div>
                </div>
                <!--end item-->
                <!--begin item-->
                <div class="product_tabs_item__list product_tabs_list features_3">
                    <div class="product_tabs_list__item">
                        <img src="img/icon_feature_5.svg" alt="Icon">
                        <h3 class="title">Convenient and Easy</h3>
                    </div>
                </div>
                <!--end item-->
                <!--begin item-->
                <div class="product_tabs_item__list product_tabs_list features_3">
                    <div class="product_tabs_list__item">
                        <img src="img/icon_feature_6.svg" alt="Icon">
                        <h3 class="title">Safe</h3>
                    </div>
                </div>
                <!--end item-->
            </div>
            <div class="product_tabs__img">
                <h3 class="title">1 - 14 shades in 5 days</h3>
                <img src="img/img_features.png" alt="Img">
            </div>
            <div class="product_tabs__features product_features">
                <h3 class="title">Smilepen ist besonders geeignet für Verfärbungen durch</h3>
                <!--begin item-->
                <div class="product_tabs_item__list product_tabs_list features_4">
                    <div class="product_tabs_list__item">
                        <img src="img/icon_feature_1.svg" alt="Icon">
                        <h3 class="title">coffee</h3>
                    </div>
                </div>
                <!--end item-->
                <!--begin item-->
                <div class="product_tabs_item__list product_tabs_list features_4">
                    <div class="product_tabs_list__item">
                        <img src="img/icon_feature_2.svg" alt="Icon">
                        <h3 class="title">zigarettes</h3>
                    </div>
                </div>
                <!--end item-->
                <!--begin item-->
                <div class="product_tabs_item__list product_tabs_list features_4">
                    <div class="product_tabs_list__item">
                        <img src="img/icon_feature_3.svg" alt="Icon">
                        <h3 class="title">weed</h3>
                    </div>
                </div>
                <!--end item-->
                <!--begin item-->
                <div class="product_tabs_item__list product_tabs_list features_4">
                    <div class="product_tabs_list__item">
                        <img src="img/icon_feature_3.svg" alt="Icon">
                        <h3 class="title">red wine</h3>
                    </div>
                </div>
                <!--end item-->
            </div>
            <div class="product_tabs__text">
                <p>Mit dem SmilePen Professional Set lassen sich die Zähne um bis zu 10 Stufen aufhellen. Es enthält sechs Kartuschen mit hochwirksamem Power-Bleaching Gel, insgesamt also 30 ml Gel, zwei wiederverwertbare Mundschienen aus Thermoform-Silikon und eine praktische Aufbewahrungsbox. Das Zahnbleaching-Niveau entspricht dem einer Zahnarztpraxis, ist aber wesentlich günstiger. Zudem bekommen Sie bei keinem anderen Hersteller mehr Zahnbleaching Gel im Set.</p>
                <h3>Anwendung</h3>
                <p>Die Anwendung ist äußerst einfach und unkompliziert in fünf einfachen Schritten. Zunächst reinigen Sie Ihre Zähne mit der Zahnbürste. Die wiederverwertbaren Mundschienen legen Sie kurz in warmes Wasser, um sie formbar zu machen und passen die warme Schiene im Mund einmalig an. Sobald die Schienen ausgekühlt sind, füllen Sie in jeden der Abdrücke Power Bleaching Gel ein und platzieren die Bleaching Schienen im Ober- und Unterkiefer. Nach 15 bis 30 Minuten Einwirkzeit nehmen Sie diese wieder heraus und spülen den Mund aus. Fertig! Jetzt strahlen Ihre Zähne natürlich weiss und verschönern Ihr Lächeln.</p>
                <h3>Ergebnis</h3>
                <p>Wiederholen Sie nun die Behandlung jeden Tag, eine ganze Woche lang. Danach haben Sie bis 10 Stufen weissere Zähne. Das Niveau, das Sie im Home-Bleaching mit SmilePen erreichen, ist vergleichbar mit den Ergebnissen einer Zahnbleaching-Behandlung in einer Zahnarztpraxis. Allerdings ist die Behandlung weitaus günstiger und zudem mit viel weniger Zeitaufwand verbunden. Die Zahnaufhellung ist schonend und unkompliziert.</p>
                <p>Bei SmilePen sind alle Produkte exakt aufeinander abgestimmt. Sie werden in Kooperation mit Spezialisten für Zahnbleaching und Zahnärzten entwickelt. Zudem sind sie in der Schweiz zugelassen und entsprechen somit allen gesetzlichen Anforderungen.</p>
            </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="ingreditents">
            <div class="product_tabs__text">
                <p>Mit dem SmilePen Professional Set lassen sich die Zähne um bis zu 10 Stufen aufhellen. Es enthält sechs Kartuschen mit hochwirksamem Power-Bleaching Gel, insgesamt also 30 ml Gel, zwei wiederverwertbare Mundschienen aus Thermoform-Silikon und eine praktische Aufbewahrungsbox. Das Zahnbleaching-Niveau entspricht dem einer Zahnarztpraxis, ist aber wesentlich günstiger. Zudem bekommen Sie bei keinem anderen Hersteller mehr Zahnbleaching Gel im Set.</p>
                <h3>Anwendung</h3>
                <p>Die Anwendung ist äußerst einfach und unkompliziert in fünf einfachen Schritten. Zunächst reinigen Sie Ihre Zähne mit der Zahnbürste. Die wiederverwertbaren Mundschienen legen Sie kurz in warmes Wasser, um sie formbar zu machen und passen die warme Schiene im Mund einmalig an. Sobald die Schienen ausgekühlt sind, füllen Sie in jeden der Abdrücke Power Bleaching Gel ein und platzieren die Bleaching Schienen im Ober- und Unterkiefer. Nach 15 bis 30 Minuten Einwirkzeit nehmen Sie diese wieder heraus und spülen den Mund aus. Fertig! Jetzt strahlen Ihre Zähne natürlich weiss und verschönern Ihr Lächeln.</p>
                <h3>Ergebnis</h3>
                <p>Wiederholen Sie nun die Behandlung jeden Tag, eine ganze Woche lang. Danach haben Sie bis 10 Stufen weissere Zähne. Das Niveau, das Sie im Home-Bleaching mit SmilePen erreichen, ist vergleichbar mit den Ergebnissen einer Zahnbleaching-Behandlung in einer Zahnarztpraxis. Allerdings ist die Behandlung weitaus günstiger und zudem mit viel weniger Zeitaufwand verbunden. Die Zahnaufhellung ist schonend und unkompliziert.</p>
                <p>Bei SmilePen sind alle Produkte exakt aufeinander abgestimmt. Sie werden in Kooperation mit Spezialisten für Zahnbleaching und Zahnärzten entwickelt. Zudem sind sie in der Schweiz zugelassen und entsprechen somit allen gesetzlichen Anforderungen.</p>
            </div>
        </div>
    </div>
</section>
<!--begin product tabs-->
<!--begin home reviews-->
<section class="home_reviews">
    <div class="container">
        <div class="home_reviews__title">
            <h2 class="title">Zufriedene Kundenbewertungen</h2>
        </div>
        <div class="home_reviews__stat reviews_stat">
            <div class="reviews_stat__range reviews_range">
                <ul>
                    <li>
                        <h3 class="title">5 stars</h3>
                        <div class="bar" data-width="82%">
                            <div class="bar-inner"></div>
                        </div>
                        <div class="bar-percent">82%</div>
                    </li>
                    <li>
                        <h3 class="title">4 stars</h3>
                        <div class="bar" data-width="14%">
                            <div class="bar-inner"></div>
                        </div>
                        <div class="bar-percent">14%</div>
                    </li>
                    <li>
                        <h3 class="title">3 stars</h3>
                        <div class="bar" data-width="2%">
                            <div class="bar-inner"></div>
                        </div>
                        <div class="bar-percent">2%</div>
                    </li>
                    <li>
                        <h3 class="title">2 stars</h3>
                        <div class="bar" data-width="1%">
                            <div class="bar-inner"></div>
                        </div>
                        <div class="bar-percent">1%</div>
                    </li>
                    <li>
                        <h3 class="title">1 star</h3>
                        <div class="bar" data-width="1%">
                            <div class="bar-inner"></div>
                        </div>
                        <div class="bar-percent">1%</div>
                    </li>
                </ul>

            </div>
            <div class="reviews_stat__summary reviews_summary">
                <h3 class="title">Summary rate:</h3>
                <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
                <a href="#/">530 Bewertungen</a>
            </div>
        </div>
        <div class="home_reviews__wrapper reviews_wrapper">
            <!--begin reviews item-->
            <div class="reviews_wrapper__item reviews_item">
                <div class="reviews_item__name">
                    Jonathan Robinson
                </div>
                <div class="reviews_item__stars">
                    <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
                </div>
                <div class="reviews_item__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                </div>
            </div>
            <!--end reviews item-->
            <!--begin reviews item-->
            <div class="reviews_wrapper__item reviews_item">
                <div class="reviews_item__name">
                    Jonathan Robinson
                </div>
                <div class="reviews_item__stars">
                    <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
                </div>
                <div class="reviews_item__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                </div>
            </div>
            <!--end reviews item-->
            <!--begin reviews item-->
            <div class="reviews_wrapper__item reviews_item">
                <div class="reviews_item__name">
                    Jonathan Robinson
                </div>
                <div class="reviews_item__stars">
                    <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
                </div>
                <div class="reviews_item__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                </div>
            </div>
            <!--end reviews item-->
        </div>
    </div>
</section>
<!--end home reviews-->
<!--begin product faq-->
<section class="product_faq">
    <div class="container">
        <div class="product_faq__title">
            <h2 class="title">Häufig gestellte Fragen</h2>
        </div>
        <div class="product_faq__wrapper product_faq_wrap">
            <!--begin faq item-->
            <div class="about_quick_item__answer about_quick_answer">
                <div class="about_quick_answer__title">
                    <img src="" alt="">
                    Schadet Zahnbleaching den Zähnen?
                </div>
                <div class="about_quick_answer__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem fuga odit perferendis placeat saepe. Illum, ipsum velit? Alias dolorem dolores error minus obcaecati velit vitae? Amet autem nemo repellat voluptatibus.</p>
                </div>
                <div class="about_quick_answer__btn">
                    <a href="#/">
                        <i class="fas fa-chevron-down"></i>
                        Mehr erfahren
                    </a>
                </div>
            </div>
            <!--end faq item-->
            <!--begin faq item-->
            <div class="about_quick_item__answer about_quick_answer">
                <div class="about_quick_answer__title">
                    <img src="" alt="">
                    Schadet Zahnbleaching den Zähnen?
                </div>
                <div class="about_quick_answer__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem fuga odit perferendis placeat saepe. Illum, ipsum velit? Alias dolorem dolores error minus obcaecati velit vitae? Amet autem nemo repellat voluptatibus.</p>
                </div>
                <div class="about_quick_answer__btn">
                    <a href="#/">
                        <i class="fas fa-chevron-down"></i>
                        Mehr erfahren
                    </a>
                </div>
            </div>
            <!--end faq item-->
            <!--begin faq item-->
            <div class="about_quick_item__answer about_quick_answer">
                <div class="about_quick_answer__title">
                    <img src="" alt="">
                    Schadet Zahnbleaching den Zähnen?
                </div>
                <div class="about_quick_answer__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem fuga odit perferendis placeat saepe. Illum, ipsum velit? Alias dolorem dolores error minus obcaecati velit vitae? Amet autem nemo repellat voluptatibus.</p>
                </div>
                <div class="about_quick_answer__btn">
                    <a href="#/">
                        <i class="fas fa-chevron-down"></i>
                        Mehr erfahren
                    </a>
                </div>
            </div>
            <!--end faq item-->
            <!--begin faq item-->
            <div class="about_quick_item__answer about_quick_answer">
                <div class="about_quick_answer__title">
                    <img src="" alt="">
                    Schadet Zahnbleaching den Zähnen?
                </div>
                <div class="about_quick_answer__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem fuga odit perferendis placeat saepe. Illum, ipsum velit? Alias dolorem dolores error minus obcaecati velit vitae? Amet autem nemo repellat voluptatibus.</p>
                </div>
                <div class="about_quick_answer__btn">
                    <a href="#/">
                        <i class="fas fa-chevron-down"></i>
                        Mehr erfahren
                    </a>
                </div>
            </div>
            <!--end faq item-->
            <!--begin faq item-->
            <div class="about_quick_item__answer about_quick_answer">
                <div class="about_quick_answer__title">
                    <img src="" alt="">
                    Schadet Zahnbleaching den Zähnen?
                </div>
                <div class="about_quick_answer__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem fuga odit perferendis placeat saepe. Illum, ipsum velit? Alias dolorem dolores error minus obcaecati velit vitae? Amet autem nemo repellat voluptatibus.</p>
                </div>
                <div class="about_quick_answer__btn">
                    <a href="#/">
                        <i class="fas fa-chevron-down"></i>
                        Mehr erfahren
                    </a>
                </div>
            </div>
            <!--end faq item-->
            <!--begin faq item-->
            <div class="about_quick_item__answer about_quick_answer">
                <div class="about_quick_answer__title">
                    <img src="" alt="">
                    Schadet Zahnbleaching den Zähnen?
                </div>
                <div class="about_quick_answer__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem fuga odit perferendis placeat saepe. Illum, ipsum velit? Alias dolorem dolores error minus obcaecati velit vitae? Amet autem nemo repellat voluptatibus.</p>
                </div>
                <div class="about_quick_answer__btn">
                    <a href="#/">
                        <i class="fas fa-chevron-down"></i>
                        Mehr erfahren
                    </a>
                </div>
            </div>
            <!--end faq item-->
        </div>
    </div>
</section>
<!--end product faq-->
<!--begin home insta-->
<section class="home_insta">
    <div class="container">
        <div class="home_insta__wrapper insta_wrap">

            <div class="insta_wrap__item">
                <img src="img/img_insta_1.jpg" alt="Insta">
                <img src="img/img_insta_2.jpg" alt="Insta">
                <img src="img/img_insta_3.jpg" alt="Insta">
                <img src="img/img_insta_4.jpg" alt="Insta">
            </div>
            <div class="insta_wrap__item">
                <img src="img/img_insta_5.jpg" alt="Insta">
                <div class="home_insta__follow">
                    <a href="#/">
                        <img src="img/icon_insta.svg" alt="Insta">
                        Follow us in instagram
                    </a>
                </div>
            </div>
            <div class="insta_wrap__item">
                <img src="img/img_insta_6.jpg" alt="Insta">
                <img src="img/img_insta_7.jpg" alt="Insta">
                <img src="img/img_insta_8.jpg" alt="Insta">
                <img src="img/img_insta_9.jpg" alt="Insta">
            </div>
        </div>
        <div class="home_insta__title">
            <h3 class="title">
                Du kannst SmilePen hier kaufen
            </h3>
        </div>
        <div class="home_insta__logo">
            <img src="img/logo_insta.png" alt="Logo">
        </div>
    </div>
</section>
<!--end home insta-->
<!--begin popup-->
<section class="popup">
    <div class="popup__over">
        <div class="container">
            <div class="popup__wrapper popup_wrap">
                <div class="popup_wrap__close">
                    <a href="#/">
                        <img src="img/icon_delete.svg" alt="Icon">
                    </a>
                </div>
                <div class="popup_wrap__item">
                    <img src="img/img_product_4.jpg" alt="Product">
                </div>
                <div class="popup_wrap__item popup_info">
                    <div class="popup_info__title">
                        <h3 class="title">Damit es immer weiss bleibt!</h3>
                    </div>
                    <div class="popup_info__text">
                        <p>Erhalten Sie unser Power Bleaching Gel bequem alle 3 Monate für das Auffrischen Deines Hollywood Smile!</p>
                    </div>
                    <div class="popup_info__feature">
                        <img src="img/icon_warning.svg" alt="Icon">
                        <p>Automatisch Lieferung alle 3 Monate für nur 49.90 statt 79.90 (35% Rabatt).</p>
                    </div>
                    <div class="popup_info__delivery">
                        <p>Jetzt erste Lieferung nur 1.00 CHF</p>
                    </div>
                    <div class="popup_info__btns">
                        <a class="btn_blue" href="#/">Ja, jetzt fÜr nur 1.00 chf starten!</a>
                        <a class="btn_blue" href="#/">Nein, danke</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end popup-->