<!--begin product single-->
<section class="product_single">
    <div class="container">
        <div class="product_single__wrapper product_single_wrap">
            <div class="product_single_wrap__slider product_single_slider">
            <div class="swiper-container gallery-top">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><div class="swiper-slide-container" style="background-image: url('img/img_product_1.jpg')"></div></div>
                    <div class="swiper-slide"><div class="swiper-slide-container" style="background-image: url('img/img_product_2.jpg')"></div></div>
                    <div class="swiper-slide"><div class="swiper-slide-container" style="background-image: url('img/img_product_3.jpg')"></div></div>
                    <div class="swiper-slide"><div class="swiper-slide-container" style="background-image: url('img/img_product_4.jpg')"></div></div>
                </div>
            </div>
            <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><div class="swiper-slide-container" style="background-image: url('img/img_product_1.jpg')"></div></div>
                    <div class="swiper-slide"><div class="swiper-slide-container" style="background-image: url('img/img_product_2.jpg')"></div></div>
                    <div class="swiper-slide"><div class="swiper-slide-container" style="background-image: url('img/img_product_3.jpg')"></div></div>
                    <div class="swiper-slide"><div class="swiper-slide-container" style="background-image: url('img/img_product_4.jpg')"></div></div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"><img src="img/icon__right_arrow_thumbnail.svg" alt="Arrow"></div>
                <div class="swiper-button-prev"><img src="img/icon_left_arrow_thumbnail.svg" alt="Arrow"></div>
            </div>
        </div>
            <div class="product_single_wrap__slider product_single_info">
                <div class="product_single_info__reviews products_item__reviews">
                    <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
                    <a href="#/">530 Bewertungen</a>
                </div>
                <div class="product_single_info__title">
                    <h1 class="title">SmilePen Professional Kit</h1>
                </div>
                <div class="product_single_info__list products_item__list">
                    <h3 class="title">
                        Produkt Highlights
                    </h3>
                    <ul>
                        <li>Bis zu 10 Stufen weisser</li>
                        <li>Hydrogen Bleaching Gel</li>
                        <li>Maximale Bleaching Power</li>
                        <li>Anpassbare Mundschiene</li>
                        <li>Geld zurück Garantie</li>
                    </ul>
                </div>
                <div class="product_single_info__price products_item__price">
                    <div class="products_price__old">Vorher 329.80</div>
                    <div class="products_price__new">Jetzt 168.80 CHF <span>Gratis Versand</span></div>
                </div>
                <div class="product_single_info__guarantee">
                    <img src="img/icon_guarantee.svg" alt="Icon">
                    <p>Zufriedenheit oder Geld zurück Garantie</p>
                </div>
                <div class="product_single_info__quantity">
                    <form>
                        <div class="quantity">
                            <input type='button' value='-' class='minus' field='quantity' />
                            <input type='text' name='quantity' value='1' class='qty' />
                            <input type='button' value='+' class='plus' field='quantity' />
                            <input type="submit" value="Jetzt Bestellen">
                        </div>
                    </form>
                    <div class="product_single_info__additional">
                        <p>
                            Inkl. Gratis Whitening Pen
                            <span>(Wert 49.90)</span>
                        </p>
                    </div>
                </div>
                <div class="product_single_info__list products_item__list">
                    <ul>
                        <li>Bequem per Rechnung bezahlen</li>
                        <li>Lieferung in 1-2 Tagen</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--begin product single-->
<!--begin home reviews-->
<section class="home_reviews">
    <div class="container">
        <div class="home_reviews__title">
            <h2 class="title">Zufriedene Kundenbewertungen</h2>
        </div>
        <div class="home_reviews__stat reviews_stat">
            <div class="reviews_stat__range reviews_range">
                <ul>
                    <li>
                        <h3 class="title">5 stars</h3>
                        <div class="bar" data-width="82%">
                            <div class="bar-inner"></div>
                        </div>
                        <div class="bar-percent">82%</div>
                    </li>
                    <li>
                        <h3 class="title">4 stars</h3>
                        <div class="bar" data-width="14%">
                            <div class="bar-inner"></div>
                        </div>
                        <div class="bar-percent">14%</div>
                    </li>
                    <li>
                        <h3 class="title">3 stars</h3>
                        <div class="bar" data-width="2%">
                            <div class="bar-inner"></div>
                        </div>
                        <div class="bar-percent">2%</div>
                    </li>
                    <li>
                        <h3 class="title">2 stars</h3>
                        <div class="bar" data-width="1%">
                            <div class="bar-inner"></div>
                        </div>
                        <div class="bar-percent">1%</div>
                    </li>
                    <li>
                        <h3 class="title">1 star</h3>
                        <div class="bar" data-width="1%">
                            <div class="bar-inner"></div>
                        </div>
                        <div class="bar-percent">1%</div>
                    </li>
                </ul>

            </div>
            <div class="reviews_stat__summary reviews_summary">
                <h3 class="title">Summary rate:</h3>
                <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
                <a href="#/">530 Bewertungen</a>
            </div>
        </div>
        <div class="home_reviews__wrapper reviews_wrapper">
            <!--begin reviews item-->
            <div class="reviews_wrapper__item reviews_item">
                <div class="reviews_item__name">
                    Jonathan Robinson
                </div>
                <div class="reviews_item__stars">
                    <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
                </div>
                <div class="reviews_item__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                </div>
            </div>
            <!--end reviews item-->
            <!--begin reviews item-->
            <div class="reviews_wrapper__item reviews_item">
                <div class="reviews_item__name">
                    Jonathan Robinson
                </div>
                <div class="reviews_item__stars">
                    <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
                </div>
                <div class="reviews_item__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                </div>
            </div>
            <!--end reviews item-->
            <!--begin reviews item-->
            <div class="reviews_wrapper__item reviews_item">
                <div class="reviews_item__name">
                    Jonathan Robinson
                </div>
                <div class="reviews_item__stars">
                    <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
                </div>
                <div class="reviews_item__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                </div>
            </div>
            <!--end reviews item-->
        </div>
    </div>
</section>
<!--end home reviews-->
<!--begin product faq-->
<section class="product_faq">
    <div class="container">
        <div class="product_faq__title">
            <h2 class="title">Häufig gestellte Fragen</h2>
        </div>
        <div class="product_faq__wrapper product_faq_wrap">
            <!--begin faq item-->
            <div class="about_quick_item__answer about_quick_answer">
                <div class="about_quick_answer__title">
                    <img src="" alt="">
                    Schadet Zahnbleaching den Zähnen?
                </div>
                <div class="about_quick_answer__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem fuga odit perferendis placeat saepe. Illum, ipsum velit? Alias dolorem dolores error minus obcaecati velit vitae? Amet autem nemo repellat voluptatibus.</p>
                </div>
                <div class="about_quick_answer__btn">
                    <a href="#/">
                        <i class="fas fa-chevron-down"></i>
                        Mehr erfahren
                    </a>
                </div>
            </div>
            <!--end faq item-->
            <!--begin faq item-->
            <div class="about_quick_item__answer about_quick_answer">
                <div class="about_quick_answer__title">
                    <img src="" alt="">
                    Schadet Zahnbleaching den Zähnen?
                </div>
                <div class="about_quick_answer__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem fuga odit perferendis placeat saepe. Illum, ipsum velit? Alias dolorem dolores error minus obcaecati velit vitae? Amet autem nemo repellat voluptatibus.</p>
                </div>
                <div class="about_quick_answer__btn">
                    <a href="#/">
                        <i class="fas fa-chevron-down"></i>
                        Mehr erfahren
                    </a>
                </div>
            </div>
            <!--end faq item-->
            <!--begin faq item-->
            <div class="about_quick_item__answer about_quick_answer">
                <div class="about_quick_answer__title">
                    <img src="" alt="">
                    Schadet Zahnbleaching den Zähnen?
                </div>
                <div class="about_quick_answer__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem fuga odit perferendis placeat saepe. Illum, ipsum velit? Alias dolorem dolores error minus obcaecati velit vitae? Amet autem nemo repellat voluptatibus.</p>
                </div>
                <div class="about_quick_answer__btn">
                    <a href="#/">
                        <i class="fas fa-chevron-down"></i>
                        Mehr erfahren
                    </a>
                </div>
            </div>
            <!--end faq item-->
            <!--begin faq item-->
            <div class="about_quick_item__answer about_quick_answer">
                <div class="about_quick_answer__title">
                    <img src="" alt="">
                    Schadet Zahnbleaching den Zähnen?
                </div>
                <div class="about_quick_answer__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem fuga odit perferendis placeat saepe. Illum, ipsum velit? Alias dolorem dolores error minus obcaecati velit vitae? Amet autem nemo repellat voluptatibus.</p>
                </div>
                <div class="about_quick_answer__btn">
                    <a href="#/">
                        <i class="fas fa-chevron-down"></i>
                        Mehr erfahren
                    </a>
                </div>
            </div>
            <!--end faq item-->
            <!--begin faq item-->
            <div class="about_quick_item__answer about_quick_answer">
                <div class="about_quick_answer__title">
                    <img src="" alt="">
                    Schadet Zahnbleaching den Zähnen?
                </div>
                <div class="about_quick_answer__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem fuga odit perferendis placeat saepe. Illum, ipsum velit? Alias dolorem dolores error minus obcaecati velit vitae? Amet autem nemo repellat voluptatibus.</p>
                </div>
                <div class="about_quick_answer__btn">
                    <a href="#/">
                        <i class="fas fa-chevron-down"></i>
                        Mehr erfahren
                    </a>
                </div>
            </div>
            <!--end faq item-->
            <!--begin faq item-->
            <div class="about_quick_item__answer about_quick_answer">
                <div class="about_quick_answer__title">
                    <img src="" alt="">
                    Schadet Zahnbleaching den Zähnen?
                </div>
                <div class="about_quick_answer__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem fuga odit perferendis placeat saepe. Illum, ipsum velit? Alias dolorem dolores error minus obcaecati velit vitae? Amet autem nemo repellat voluptatibus.</p>
                </div>
                <div class="about_quick_answer__btn">
                    <a href="#/">
                        <i class="fas fa-chevron-down"></i>
                        Mehr erfahren
                    </a>
                </div>
            </div>
            <!--end faq item-->
        </div>
    </div>
</section>
<!--end product faq-->
<!--begin home insta-->
<section class="home_insta">
    <div class="container">
        <div class="home_insta__wrapper insta_wrap">

            <div class="insta_wrap__item">
                <img src="img/img_insta_1.jpg" alt="Insta">
                <img src="img/img_insta_2.jpg" alt="Insta">
                <img src="img/img_insta_3.jpg" alt="Insta">
                <img src="img/img_insta_4.jpg" alt="Insta">
            </div>
            <div class="insta_wrap__item">
                <img src="img/img_insta_5.jpg" alt="Insta">
                <div class="home_insta__follow">
                    <a href="#/">
                        <img src="img/icon_insta.svg" alt="Insta">
                        Follow us in instagram
                    </a>
                </div>
            </div>
            <div class="insta_wrap__item">
                <img src="img/img_insta_6.jpg" alt="Insta">
                <img src="img/img_insta_7.jpg" alt="Insta">
                <img src="img/img_insta_8.jpg" alt="Insta">
                <img src="img/img_insta_9.jpg" alt="Insta">
            </div>
        </div>
        <div class="home_insta__title">
            <h3 class="title">
                Du kannst SmilePen hier kaufen
            </h3>
        </div>
        <div class="home_insta__logo">
            <img src="img/logo_insta.png" alt="Logo">
        </div>
    </div>
</section>
<!--end home insta-->