// Faq

.faq {
  padding: 35px;
  border-top: 1px solid #dde4ea;
  &__title {
    margin-bottom: 30px;
    .title {
      color: #587a93;
      font-size: 48px;
      font-family: 'ProximaNovaT-Thin';
      line-height: 35px;
      letter-spacing: 0.96px;
      text-align: center;
    }
  }
}

.faq_wrap {
  margin-bottom: 45px;
  .title {
    display: flex;
    align-items: center;
    color: #7590a5;
    font-size: 24px;
    font-family: 'ProximaNova-Extrabld';
    letter-spacing: 0.48px;
    margin-bottom: 25px;
    img {
      margin-right: 20px;
    }
  }
}

.faq_active {
  background-color: #f3f3fe;
  .faq_item__answer {
    height: auto;
    visibility: visible;
    margin-top: 25px;
  }
}

.faq_item {
  border: 1px solid #b9cbd8;
  margin-top: -2px;
  padding: 40px 85px 40px 70px;
  &__question {
    a {
      display: flex;
      align-items: center;
      color: #1d7ac1;
      font-size: 18px;
      font-family: 'ProximaNova-Semibold';
      position: relative;
      padding-left: 55px;
      &:before {
        position: absolute;
        content: '';
        left: 0;
        background-image: url("../img/icon_question.svg");
        background-repeat: no-repeat;
        width: 31px;
        height: 31px;

      }
    }
  }
  &__answer {
    visibility: hidden;
    height: 0;
    p {
      color: #000000;
      font-family: 'ProximaNovaT-Regular';
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.32px;
    }
  }
}

