@font-face {
  font-family: 'ProximaNovaT-Thin';
  font-style: normal;
  font-weight: normal;
  src: local('ProximaNovaT-Thin'), url('../fonts/ProximaNovaT-Thin.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNovaT-Light';
  font-style: normal;
  font-weight: normal;
  src: local('ProximaNovaT-Light'), url('../fonts/ProximaNova-Light.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNovaT-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('ProximaNovaT-Regular'), url('../fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('ProximaNova-Semibold.woff'), url('../fonts/ProximaNova-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNova-Extrabld';
  font-style: normal;
  font-weight: normal;
  src: local('ProximaNova-Extrabld.woff'), url('../fonts/ProximaNova-Extrabld.woff') format('woff');
}

