// Colors

$color_white: #fff;
$color_blue: #1677bb;
$color_blue_light: #16baf1;

.bg_blue_light {
  background-color: $color_blue_light;
}

.bg_blue {
  background-color: $color_blue;
}


.show_mobile {
  display: none;
}

.container {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

* {
  box-sizing: border-box;
}

.mg {
  height: auto;
}

.title {
  margin: 0;
}

.btn_blue {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 196px;
  height: 33px;
  border: 2px solid $color_blue;
  color: $color_blue;
  font-size: 14px;
  font-family: 'ProximaNova-Extrabld';
  line-height: 36px;
  text-transform: uppercase;
  transition: 0.5s;
  &:hover {
    background-color: $color_blue;
    color: #fff;
  }
}

.btn_video {
  transition: 0.5s;
  &:hover {
    transition: 0.5s;
    span {
      transition: 0.5s;
      color: $color_blue;
      border-bottom: 1px solid $color_blue;
    }
  }
  span {
    color: #596f83;
    font-size: 14px;
    font-family: 'ProximaNova-Semibold';
    line-height: 20px;
    text-transform: uppercase;
    transition: 0.5s;
    border-bottom: 1px solid #596f83;
  }
  img {
    margin-right: 20px;
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  select {
    appearance: none;
    height: 50px;
    background-color: $color_white;
    outline: 0;
    border: 0;
    padding-left: 35px;
    color: #587a93;
    font-family: 'ProximaNovaT-Regular';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.32px;
    background-image: url("../img/icon_select.svg");
    background-repeat: no-repeat;
    background-position: 95% center;
  }
  textarea {
    width: 100%;
    height: 150px;
    resize: none;
    border: 0;
    outline: 0;
    padding: 15px 50px;
    margin-bottom: 35px;
    color: #587a93;
    font-family: 'ProximaNovaT-Regular';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.32px;
    &::placeholder {
      color: #587a93;
      font-family: 'ProximaNovaT-Regular';
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.32px;
    }
  }
  input {
    margin-bottom: 18px;
    width: 48%;
    height: 50px;
    background-color: $color_white;
    outline: 0;
    border: 0;
    padding-left: 50px;
    color: #587a93;
    font-family: 'ProximaNovaT-Regular';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.32px;
    &::placeholder {
      color: #587a93;
      font-family: 'ProximaNovaT-Regular';
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.32px;
    }
  }
  input[type="email"] {
    background-image: url("../img/icon_email.svg");
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 25px;
  }
  input[type="tel"] {
    background-image: url("../img/icon_phone.svg");
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 25px;
  }
  input[type="submit"] {
    height: 50px;
    width: 225px;
    margin: 0 auto;
    padding: 0;
    border: 2px solid #1677bb;
    color: #1677bb;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'ProximaNova-Extrabld';
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      background-color: #1677bb;
      color: $color_white;
      transition: 0.5s;
    }
  }
}