// Product single

.product_single {
  padding: 25px 0 125px 0;
  border-top: 1px solid #dde4ea;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.product_single_slider {
  width: 480px;
  max-width: 100%;
  .gallery-top {
    width: 400px;
    max-width: 100%;
    margin: 0 auto 40px auto;
    z-index: 0;
    .swiper-slide {
      width: 400px;
      height: 400px;
      img {
        height: 400px;
        max-width: 100%;
      }
      .swiper-slide-container {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  .gallery-thumbs {
    z-index: 0;
    .swiper-button-next,
    .swiper-button-prev {
      background-image: none;
      width: 15px;
      height: 15px;
    }
    .swiper-button-prev {
      left: 0;
    }
    .swiper-button-next {
      right: 0;
    }
    .swiper-slide {
      cursor: pointer;
      width: 152px;
      height: 152px;
      text-align: center;
      img {
        width: 152px;
        height: auto;
      }
      .swiper-slide-container {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .swiper-slide-active {
      border: 2px solid #1677bb;
    }
  }
}

.product_single_info {
  width: 550px;
  max-width: 100%;
  &__reviews {
    justify-content: flex-start;
    margin-bottom: 35px;
  }
  &__title {
    margin-bottom: 35px;
    .title {
      color: #587a93;
      font-size: 48px;
      font-family: 'ProximaNovaT-Thin';
      line-height: 35px;
      letter-spacing: 0.96px;
    }
  }
  &__list {
    flex-direction: column;
    .title {
      color: #587a93;
      font-size: 18px;
      font-family: 'ProximaNova-Extrabld';
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.36px;
      margin-bottom: 25px;
    }
    ul {
      li {
        font-size: 16px;
      }
    }
  }
  &__price {
    margin-bottom: 20px;
    .products_price__old {
      font-size: 24px;
      line-height: 26px;
    }
    .products_price__new {
      font-size: 24px;
      line-height: 26px;
      span {
        color: #5c7c95;
        font-family: 'ProximaNovaT-Light';
        letter-spacing: 0.48px;
      }
    }
  }
  &__guarantee {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
    img {
      margin-right: 20px;
      width: 50px;
    }
    p {
      color: #647c8f;
      font-size: 18px;
      font-family: 'ProximaNovaT-Regular';
      line-height: 36px;
      letter-spacing: 0.36px;
    }
  }
  &__additional {
    display: flex;
    align-items: center;
    padding: 0 28px;
    width: 290px;
    height: 50px;
    max-width: 100%;
    background-color: #f3f3fe;
    color: #1677bb;
    font-family: 'ProximaNovaT-Regular';
    font-size: 16px;
    letter-spacing: 0.32px;
    span {
      color: #587a93;
      letter-spacing: 0.32px;
    }
  }
  &__quantity {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    form {
      .quantity {
        display: flex;
        align-items: center;
        .quantity {
          width: 85px;
          height: 50px;
          background-color: #1677bb;
          display: flex;
          align-items: center;
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 198px;
          max-width: 100%;
          height: 50px;
          background-color: #16baf1;
          border: 2px solid #16baf1;
          color: #ffffff;
          font-size: 14px;
          font-family: 'ProximaNova-Extrabld';
          line-height: 36px;
          text-transform: uppercase;
          transition: 0.5s;
          &:hover {
            transition: 0.5s;
            background-color: #fff;
            color: #16baf1;
          }
        }
        input {
          width: 25px;
          height: 50px;
          padding: 0;
          margin: 0;
          color: $color_white;
          text-align: center;
          font-family: 'ProximaNovaT-Regular';
          font-size: 24px;
          letter-spacing: 0.48px;
          background-color: #1677bb;
        }
        .minus,
        .plus {
          cursor: pointer;
        }
      }
    }
  }
}

// Product faq

.product_faq {
  padding: 45px 0;
  &__title {
    margin-bottom: 30px;
    text-align: center;
    .title {
      color: #587a93;
      font-family: 'ProximaNovaT-Thin';
      font-size: 48px;
      line-height: 35px;
      letter-spacing: 0.96px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .about_quick_answer {
      width: 50%;
      margin-top: -1px;
      &:nth-child(odd) {
       border-right: 0;
      }
    }
  }
}

// Product video

.product_video {
  margin-bottom: 25px;
  padding-bottom: 0;
  .home_video__link {
    margin-bottom: 0;
  }
}

// Product tabs

.product_tabs {
  .menu {
    border-bottom: 1px solid #dde4ea!important;
    display: flex;
    justify-content: center;
    margin-bottom: 55px!important;
  }
  .item.active {
    font-family: 'ProximaNova-Extrabld'!important;
    border-bottom: 4px solid #217dbe!important;
    line-height: 35px!important;
  }
  .item {
    margin: 0 15px;
    border-left: 0!important;
    border-right: 0!important;
    border-top: 0!important;
    color: #587a93!important;
    font-family: 'ProximaNovaT-Light';
    font-size: 18px;
    line-height: 35px!important;
    text-transform: uppercase!important;
    padding: 0!important;
    border-bottom: 4px solid #fff!important;
  }
  .segment {
    padding: 0!important;
    border: 0!important;
  }
  &__img {
    margin-bottom: 70px;
    img {
      width: 100%;
    }
    .title {
      text-align: center;
      color: #587a93;
      font-family: 'ProximaNovaT-Thin';
      font-size: 48px;
      line-height: 35px;
      letter-spacing: 0.96px;
      margin-bottom: 45px;
    }
  }
  &__text {
    margin-bottom: 60px;
    p {
      color: #587a93;
      font-family: 'ProximaNovaT-Light';
      font-size: 18px;
      line-height: 24px;
    }
    h1, h2, h3, h4, h5, h6 {
      color: #587a93;
      text-transform: uppercase;
      font-family: 'ProximaNova-Extrabld';
    }
  }
}

.product_features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .title {
    color: #7590a5;
    font-family: 'ProximaNova-Extrabld';
    font-size: 24px;
    letter-spacing: 0.48px;
    margin-bottom: 55px;
    text-align: center;
    width: 100%;
  }
}

.product_tabs_list__item {
  text-align: center;
  margin-bottom: 75px;
  .title {
    color: #587a93;
    font-family: 'ProximaNova-Extrabld';
    font-size: 14px;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 0.28px;
  }
}

.features_3 {
  width: 33%;
}

.features_4 {
  width: 25%;
}

// Popup

.popup {
  display: none;
  &__over {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__wrapper {
    width: 100%;
    box-shadow: 0 16px 51px rgba(0, 0, 0, 0.14);
    background-color: $color_white;
    padding: 35px 105px 60px 65px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.popup_wrap {
  position: relative;
  &__close {
    position: absolute;
    right: 40px;
    top: 40px;
  }
  &__special {
    position: absolute;
    left: 0;
    top: 35px;
    min-width: 290px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      color: $color_white;
      font-size: 24px;
      font-family: 'ProximaNova-Extrabld';
      line-height: 36px;
      text-transform: uppercase;
    }
    &:before {
      position: absolute;
      content: '';
      width: 0;
      right: 0;
      height: 0;
      border-top: 27px solid transparent;
      border-right: 17px solid $color_white;
      border-bottom: 27px solid transparent;
    }
  }
}

.popup_wrap__item {
  &:nth-child(3) {
    text-align: center;
    width: 400px;
    max-width: 100%;
    img {
      width: 100%;
    }
  }
  &:nth-child(4) {
    width: 555px;
    max-width: 100%;
  }
}

.popup_info {
  &__title {
    margin-bottom: 17px;
    .title {
      color: #587a93;
      font-family: 'ProximaNovaT-Thin';
      font-size: 48px;
      line-height: 35px;
      letter-spacing: 0.96px;
    }
  }
  &__reviews {
    margin-bottom: 40px;
    justify-content: flex-start;
  }
  &__text {
    justify-content: flex-start;
    margin-bottom: 50px;
    p {
      color: #587a93;
      font-family: 'ProximaNovaT-Light';
      font-size: 18px;
      line-height: 24px;
      b {
        font-family: 'ProximaNova-Extrabld';
      }
    }
    li {
      margin-bottom: 5px;
      font-size: 18px;
      line-height: 20px;
    }
  }
  &__feature {
    display: flex;
    margin-bottom: 50px;
    img {
      width: 40px;
      margin-right: 27px;
    }
    p {
      color: #587a93;
      font-family: 'ProximaNova-Extrabld';
      font-size: 16px;
      letter-spacing: 0.32px;
    }
  }
  &__delivery {
    margin-bottom: 50px;
    p {
      color: #1677bb;
      font-family: 'ProximaNova-Extrabld';
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.32px;
    }
  }
  &__btns {
    a {
      width: 100%;
      height: 50px;
      &:first-child {
        background-color: #16baf1;
        border-color: #16baf1;
        color: $color_white;
        margin-bottom: 20px;
        transition: 0.5s;
        &:hover {
          transition: 0.5s;
          background-color: $color_white;
          color: #16baf1;
        }
      }
      &:nth-child(2){
      }
    }
  }
}
